// account info form starts
form.needs-validation#account-info-form(action="dashboard-account-edit.html" method="POST" novalidate)
	fieldset
		legend.visually-hidden account info form
		.row.g-4
			.col-12
				label.form-label(for="accountInfoNameField")
					strong Name
				input#accountInfoNameField.form-control.form-control-sm.bg-white.text-truncate(type="text", name="name", value="Account holder name", placeholder="Name", autocomplete="name", required)
				.invalid-feedback.text-uppercase
					strong mandatory field!
			.col-12
				label.form-label(for="accountInfoEmailField")
					strong Email
				input#accountInfoEmailField.form-control.form-control-sm.bg-white.text-truncate(type="email", name="email", value="email@domain.com", placeholder="Email", autocomplete="email", required)
				.invalid-feedback.text-uppercase
					strong mandatory field!
			.col-12
				label.form-label(for="accountInfoPhoneField")
					strong Phone
				input#accountInfoPhoneField.form-control.form-control-sm.bg-white.text-truncate(type="tel", name="phone", value="01234567890", placeholder="Phone", autocomplete="tel", required)
				.invalid-feedback.text-uppercase
					strong mandatory field!
			.col-auto
				button.btn.btn-link.p-0.text-capitalize.text-decoration-none(type="button", data-bs-toggle="modal", data-bs-target="#change-password-modal")
					strong Change Password
			.col-12.col-lg-11.col-xl-10.mt-5
				.row.g-gutter
					.col-12.col-lg
						button.btn.btn-primary.text-capitalize.w-100.rounded-pill(type="submit")
							strong submit
					.col-12.col-lg
						button.btn.btn-outline-primary.text-capitalize.w-100.rounded-pill(type="reset")
							strong cancel
// account info form ends
