// change password form starts
form.needs-validation#change-password-form(action="/" method="POST" novalidate)
	fieldset
		legend.visually-hidden change password form
		.row.g-3
			.col-12
				label.form-label.visually-hidden(for="changePasswordOldPasswordField") Your old Password
				input#changePasswordOldPasswordField.form-control.rounded-pill.text-truncate(type="password", name="password", placeholder="Your old Password", autocomplete="current-password", required)
				.valid-feedback.text-uppercase
					strong looks good !
				.invalid-feedback.text-uppercase
					strong This filed is mandatory!
			.col-12
				label.form-label.visually-hidden(for="changePasswordNewPasswordField") New Password
				input#changePasswordNewPasswordField.form-control.rounded-pill.text-truncate(type="password", name="new_password", placeholder="New Password", autocomplete="new-password", required)
				.valid-feedback.text-uppercase
					strong looks good !
				.invalid-feedback.text-uppercase
					strong This filed is mandatory!
			.col-12
				label.form-label.visually-hidden(for="changePasswordNewPasswordConfirmationField") Verify New Password
				input#changePasswordNewPasswordConfirmationField.form-control.rounded-pill.text-truncate(type="password", name="new_password_confirmation", placeholder="Verify New Password", autocomplete="new-password", required)
				.valid-feedback.text-uppercase
					strong looks good !
				.invalid-feedback.text-uppercase
					strong This filed is mandatory!
			.col-12.mt-5
				button.btn.btn-primary.btn-lg.rounded-pill.text-capitalize.w-100(type="submit")
					strong change password
// change password form ends
