// change password form starts
form.needs-validation#change-password-form(action="/" method="POST" novalidate)
	fieldset
		legend.visually-hidden change password form
		.row.g-3
			.col-12
				label.form-label.visually-hidden(for="changePasswordOldPasswordField")
					strong Your old Password
				input#changePasswordOldPasswordField.form-control.text-truncate(type="password", name="password", placeholder="Your old Password", autocomplete="current-password", required)
				.invalid-feedback.text-uppercase
					strong mandatory field!
			.col-12
				label.form-label.visually-hidden(for="changePasswordNewPasswordField")
					strong New Password
				input#changePasswordNewPasswordField.form-control.text-truncate(type="password", name="new_password", placeholder="New Password", autocomplete="new-password", required)
				.invalid-feedback.text-uppercase
					strong mandatory field!
			.col-12
				label.form-label.visually-hidden(for="changePasswordNewPasswordConfirmationField")
					strong Verify New Password
				input#changePasswordNewPasswordConfirmationField.form-control.text-truncate(type="password", name="new_password_confirmation", placeholder="Verify New Password", autocomplete="new-password", required)
				.invalid-feedback.text-uppercase
					strong mandatory field!
			.col-12.mt-5
				button.btn.btn-primary.rounded-pill.text-capitalize.w-100(type="submit")
					strong change password
// change password form ends
