// search form starts
form#companies-search-form(action="companies.html" method="GET")
	fieldset
		legend.visually-hidden companies search form
		.input-group.input-group-sm.flex-lg-nowrap.text-capitalize.border.p-2.gap-2.bg-white.flex-column.flex-lg-row
			input#companiesSearchPostalCodeField.form-control.w-100.w-lg-fit-content.bg-transparent.text-truncate.m-0.border-0.px-3(type="text", name="postal", placeholder="Your Postal code", autocomplete="postal", required)
			label.form-label.visually-hidden(for="companiesSearchPostalCodeField") Your Postal Code
			.vr.border.bg-transparent.op-100.d-none.d-lg-block.m-0(aria-hidden="true")
			hr.border.bg-transparent.op-100.d-lg-none.m-0(aria-hidden="true")
			label.form-label.visually-hidden(for="companiesSearchServiceField")
			select#companiesSearchServiceField.form-select.w-100.w-lg-fit-content.bg-transparent.text-truncate.text-capitalize.m-0.border-0.px-3(name="service", required)
				option(value="" selected hidden) - Select Service -
				option(value="1") service One
				option(value="2") service Two
				option(value="3") service Three
			button.btn.btn-primary.icon-link.icon-link-hover.icon-link-hover-rotate.justify-content-between.rounded-pill.p-3.lh-1.text-uppercase.overflow-hidden.w-100.w-lg-fit-content(type="submit")
				span.btn-text
					strong search
				svg.bi.w-20px.h-20px(width="20" height="20" fill="currentColor")
					use(href="#icon-search")
// search form ends
