// forgot password form starts
form.needs-validation#forgot-password-form(action="/" method="POST" novalidate)
	fieldset
		legend.visually-hidden forgot password form
		.row.g-3
			.col-12
				label.form-label.visually-hidden(for="forgotPasswordEmailField") Email
				input#forgotPasswordEmailField.form-control.text-truncate(type="email", name="email", placeholder="Email", autocomplete="email", required)
				.valid-feedback.text-uppercase
					strong looks good !
				.invalid-feedback.text-uppercase
					strong This filed is mandatory!
			.col-12.mt-5
				button.btn.btn-primary.rounded-pill.text-capitalize.w-100(type="submit")
					strong reset password
// forgot password form ends
