// app preloader section starts
.app-loader
	.ratio.ratio-1x1.w-200px.h-200px.overflow-hidden
		img.object-fit-contain.img-fluid.p-3(src="./assets/images/logo/logo-white.svg", alt="loading...", width="200", height="200")
// app preloader section ends
