
// app SVGs starts
svg.app-svg-definitions.visually-hidden(aria-hidden="true" xmlns="http://www.w3.org/2000/svg")
	defs
		symbol#icon-menu(viewBox="0 0 32 18")
			title menu
			g(transform="translate(0 0.5)")
				line(x1="32" fill="none" stroke-width="1")
				line(x1="32" transform="translate(0 8)" fill="none" stroke-width="1")
				line(x1="32" transform="translate(0 17)" fill="none" stroke-width="1")
		symbol#icon-close(viewBox="0 0 16 16")
			title close
			path(d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z")
		symbol#icon-play(viewBox="0 0 16 16")
			title play
			path(d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z")
		symbol#icon-search(viewBox="0 0 20 20")
			title search
			g(transform="translate(-2 -2)")
				path(d="M8-1A9,9,0,1,1-1,8,9.01,9.01,0,0,1,8-1ZM8,15A7,7,0,1,0,1,8,7.008,7.008,0,0,0,8,15Z" transform="translate(3 3)")
				path(d="M4.35,5.35a1,1,0,0,1-.707-.293L-.707.707a1,1,0,0,1,0-1.414,1,1,0,0,1,1.414,0l4.35,4.35A1,1,0,0,1,4.35,5.35Z" transform="translate(16.65 16.65)")
		symbol#icon-arrow-right(viewBox="0 0 82 16.538")
			title arrow right
			g(transform="translate(0 16.538) rotate(-90)")
				path(d="M1.181,0A1.181,1.181,0,0,0,0,1.181V80.819a1.181,1.181,0,0,0,2.361,0V1.212A1.181,1.181,0,0,0,1.181,0Z" transform="translate(7.088 0)")
				path(d="M8.269,0a1.181,1.181,0,0,0-.787.3L.4,6.5A1.185,1.185,0,0,0,1.972,8.273l7.084-6.2A1.173,1.173,0,0,0,9.174.409,1.2,1.2,0,0,0,8.269,0Z" transform="translate(0 0)")
				path(d="M1.191,0A1.181,1.181,0,0,0,.4,2.07l7.084,6.2A1.185,1.185,0,0,0,9.063,6.5L1.979.3A1.157,1.157,0,0,0,1.191,0Z" transform="translate(7.078 0)")
		symbol#icon-arrow-right-sm(viewBox="0 0 14.405 12.99")
			title arrow right small
			g(transform="translate(299.76 531.134) rotate(-90)")
				path(d="M44.757,81.105a.927.927,0,0,1-.927-.927V67.627a.927.927,0,0,1,1.855,0V80.153a.927.927,0,0,1-.927.952Z" transform="translate(479.882 -366.46)")
				path(d="M41.32,85.843a.927.927,0,0,1-.618-.235l-5.564-4.872a.931.931,0,1,1,1.236-1.391l5.564,4.872a.921.921,0,0,1,.093,1.3A.94.94,0,0,1,41.32,85.843Z" transform="translate(483.32 -371.198)")
				path(d="M44.752,85.843a.927.927,0,0,1-.618-1.626L49.7,79.345a.931.931,0,0,1,1.236,1.391L45.37,85.608A.909.909,0,0,1,44.752,85.843Z" transform="translate(479.887 -371.198)")
		symbol#icon-arrow-down-sm(viewBox="0 0 12.99 14.405")
			title arrow down small
			g(transform="translate(-518.145 299.76)")
				path(d="M44.757,81.105a.927.927,0,0,1-.927-.927V67.627a.927.927,0,0,1,1.855,0V80.153a.927.927,0,0,1-.927.952Z" transform="translate(479.882 -366.46)")
				path(d="M41.32,85.843a.927.927,0,0,1-.618-.235l-5.564-4.872a.931.931,0,1,1,1.236-1.391l5.564,4.872a.921.921,0,0,1,.093,1.3A.94.94,0,0,1,41.32,85.843Z" transform="translate(483.32 -371.198)")
				path(d="M44.752,85.843a.927.927,0,0,1-.618-1.626L49.7,79.345a.931.931,0,0,1,1.236,1.391L45.37,85.608A.909.909,0,0,1,44.752,85.843Z" transform="translate(479.887 -371.198)")
		symbol#icon-arrow-left-sm(viewBox="0 0 14.405 12.99")
			title arrow left small
			g(transform="translate(0 12.99) rotate(-90)")
				path(d="M.927,0A.927.927,0,0,0,0,.927v12.55a.927.927,0,0,0,1.855,0V.952A.927.927,0,0,0,.927,0Z" transform="translate(5.567 0)")
				path(d="M6.495,0a.927.927,0,0,0-.618.235L.312,5.107A.931.931,0,0,0,1.549,6.5L7.113,1.626a.921.921,0,0,0,.093-1.3A.94.94,0,0,0,6.495,0Z" transform="translate(0 0)")
				path(d="M.936,0A.927.927,0,0,0,.318,1.626L5.882,6.5A.931.931,0,0,0,7.118,5.107L1.554.235A.909.909,0,0,0,.936,0Z" transform="translate(5.559 0)")
		symbol#icon-arrow-left(viewBox="0 0 82 16.538")
			title arrow left
			g(transform="translate(349.76 534.683) rotate(-90)")
				path(d="M45.011,98.7a1.181,1.181,0,0,1-1.181-1.181V17.881a1.181,1.181,0,0,1,2.361,0V97.488A1.181,1.181,0,0,1,45.011,98.7Z" transform="translate(481.403 -366.46)")
				path(d="M43.094,87.682a1.181,1.181,0,0,1-.787-.3l-7.084-6.2A1.185,1.185,0,0,1,36.8,79.409l7.084,6.2A1.173,1.173,0,0,1,44,87.273,1.2,1.2,0,0,1,43.094,87.682Z" transform="translate(483.32 -355.442)")
				path(d="M45.008,87.682a1.181,1.181,0,0,1-.787-2.07l7.084-6.2a1.185,1.185,0,0,1,1.574,1.771l-7.084,6.2A1.157,1.157,0,0,1,45.008,87.682Z" transform="translate(481.406 -355.442)")

		symbol#icon-arrow-up(viewBox="0 0 16 32")
			title arrow up
			g(transform="translate(16 31) rotate(-180)")
				path(d="M.173,30.5A.612.612,0,0,1-.5,29.978V.022A.612.612,0,0,1,.173-.5.612.612,0,0,1,.845.022V29.978A.612.612,0,0,1,.173,30.5Z" transform="translate(7.827 -0.5)")
				path(d="M12.5,22.261a.483.483,0,0,1-.377-.2L4.656,12.648a.8.8,0,0,1,0-.951.459.459,0,0,1,.754,0l7.09,8.94,7.09-8.94a.459.459,0,0,1,.754,0,.8.8,0,0,1,0,.951l-7.467,9.416A.483.483,0,0,1,12.5,22.261Z" transform="translate(-4.5 8.739)")
		symbol#icon-arrow-down(viewBox="0 0 10.225 55.247")
			title arrow down
			g(transform="translate(0 35.022)")
				path(d="M-.159,54.747c-.188,0-.341-.417-.341-.931V.431C-.5-.083-.347-.5-.159-.5s.341.417.341.931V53.816C.182,54.33.029,54.747-.159,54.747Z" transform="translate(5.272 -34.522)")
				path(d="M9.613,16.953a.34.34,0,0,1-.241-.1L4.6,12.082a.341.341,0,1,1,.482-.482l4.531,4.531L14.143,11.6a.341.341,0,0,1,.482.482L9.854,16.854A.34.34,0,0,1,9.613,16.953Z" transform="translate(-4.5 3.272)")
		symbol#icon-new-tab(viewBox="0 0 16 16")
			title open in new tab
			path(fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z")
			path(fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z")
// app SVGs ends
