
// app SVGs starts
svg.app-svg-definitions.visually-hidden(aria-hidden="true" xmlns="http://www.w3.org/2000/svg")
	defs
		symbol#icon-menu(viewBox="0 0 16 16")
			title menu
			path(fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5")
		symbol#icon-close(viewBox="0 0 16 16")
			title close
			path(d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z")
		symbol#icon-play(viewBox="0 0 16 16")
			title play
			path(d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z")
		symbol#icon-arrow-right(viewBox="0 0 39.91 20.177")
			title arrow right
			g(transform="translate(39.91) rotate(90)")
				path(d="M.673,39.91A.673.673,0,0,1,0,39.237V.673a.673.673,0,0,1,1.345,0V39.237A.673.673,0,0,1,.673,39.91Z" transform="translate(9.416)")
				path(d="M10.089,10.761a.67.67,0,0,1-.476-.2L.2,1.148A.673.673,0,0,1,1.148.2l8.94,8.94L19.029.2a.673.673,0,0,1,.951.951l-9.416,9.416A.67.67,0,0,1,10.089,10.761Z" transform="translate(0 29.149)")
		symbol#icon-arrow-left(viewBox="0 0 39.91 20.177")
			title arrow left
			g(transform="translate(0 20.177) rotate(-90)")
				path(d="M.673,39.91A.673.673,0,0,1,0,39.237V.673a.673.673,0,0,1,1.345,0V39.237A.673.673,0,0,1,.673,39.91Z" transform="translate(9.416)")
				path(d="M10.089,10.761a.67.67,0,0,1-.476-.2L.2,1.148A.673.673,0,0,1,1.148.2l8.94,8.94L19.029.2a.673.673,0,0,1,.951.951l-9.416,9.416A.67.67,0,0,1,10.089,10.761Z" transform="translate(0 29.149)")
		symbol#icon-arrow-up(viewBox="0 0 16 32")
			title arrow up
			g(transform="translate(16 31) rotate(-180)")
				path(d="M.173,30.5A.612.612,0,0,1-.5,29.978V.022A.612.612,0,0,1,.173-.5.612.612,0,0,1,.845.022V29.978A.612.612,0,0,1,.173,30.5Z" transform="translate(7.827 -0.5)")
				path(d="M12.5,22.261a.483.483,0,0,1-.377-.2L4.656,12.648a.8.8,0,0,1,0-.951.459.459,0,0,1,.754,0l7.09,8.94,7.09-8.94a.459.459,0,0,1,.754,0,.8.8,0,0,1,0,.951l-7.467,9.416A.483.483,0,0,1,12.5,22.261Z" transform="translate(-4.5 8.739)")
		symbol#icon-arrow-down(viewBox="0 0 10.225 55.247")
			title arrow down
			g(transform="translate(0 35.022)")
				path(d="M-.159,54.747c-.188,0-.341-.417-.341-.931V.431C-.5-.083-.347-.5-.159-.5s.341.417.341.931V53.816C.182,54.33.029,54.747-.159,54.747Z" transform="translate(5.272 -34.522)")
				path(d="M9.613,16.953a.34.34,0,0,1-.241-.1L4.6,12.082a.341.341,0,1,1,.482-.482l4.531,4.531L14.143,11.6a.341.341,0,0,1,.482.482L9.854,16.854A.34.34,0,0,1,9.613,16.953Z" transform="translate(-4.5 3.272)")
		symbol#icon-new-tab(viewBox="0 0 16 16")
			title open in new tab
			path(fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z")
			path(fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z")
// app SVGs ends
