// app scroll to top button starts
.app-scroll-to-top
	.ratio.ratio-1x1.w-50px.h-50px
		button.btn.btn-dark.btn-lg.shadow.p-0.rounded-xl.icon-link.icon-link-hover.icon-link-hover-up.d-inline-flex.align-items-center.justify-content-center(data-bs-placement="left" data-bs-toggle="tooltip" title="Back to Top" aria-label="Back to Top" type="button")
			svg.bi.w-1rem.h-2rem(xmlns="http://www.w3.org/2000/svg" width="16" height="32" )
				use(href="#icon-arrow-up")
// app scroll to top button ends
