// companies quote section starts
aside.sticky-top.mt-n5.pt-5
	.card.shadow
		.card-header.py-4
			h5.text-capitalize.mb-0
				strong Get A Quote
		.card-body.pt-0
			include ../forms/_quote.pug
// companies quote section ends
