include ../mixins/_companies-info.pug

// companies single section starts
article.companies-single
	.container
		.row.gy-5
			.col-12.col-lg-7.col-xl-6
				+companiesInfo(true)
			.col-12.col-lg-5.offset-xl-1
				include ./_companies-quote.pug
// companies single section ends
