include ../mixins/_pagination.pug
include ../mixins/_company-card.pug

// companies section starts
section.py-4.py-md-5.py-xl-6
	.container
		.row.gy-4.justify-content-center
			.col-12
				.row.gy-3.gy-md-4.row-cols-1.row-cols-md-2.row-cols-xl-3
					each company in locals.companies
						.col
							+companyCard(company)
			.col-12
				hr.bg-transparent.my-0
			.col-auto
				+pagination("companies.html", 1, 20)
// companies section ends
