include ../mixins/_company-card.pug

// companies sponsored section starts
section.companies-sponsored.py-4.py-md-5.py-xl-6
	.container
		.row.gy-4.justify-content-center
			.col-12
				h2.h3.text-primary.text-capitalize.text-center.mb-0
					strong Sponsored in your City
			.col-12
				#companies-sponsored-slider.swiper.pb-5.pt-3.container-off-canvas-end.container-off-canvas-start.vw-100
					.swiper-wrapper
						each company in locals.companies
							.swiper-slide.h-auto
								+companyCard(company, true, true)
			.col-auto
				// NOTE: slider navigation buttons [for], and [aria-controls] attributes must has slider unique id value.
				.btn-group.swiper-navigation-wrapper
					button.btn.btn-link.link-dark.icon-link.icon-link-hover.icon-link-hover-reversed.swiper-navigation-btn.swiper-navigation-btn-prev(aria-label="prev" type="button" data-target="#companies-sponsored-slider", aria-controls="companies-sponsored-slider")
						svg.bi.rtl-mirror.w-auto.h-auto(width="82" height="16.538")
							use(href="#icon-arrow-right")
						span.visually-hidden prev
					button.btn.btn-link.link-dark.icon-link.icon-link-hover.swiper-navigation-btn.swiper-navigation-btn-next(aria-label="next" type="button" data-target="#companies-sponsored-slider", aria-controls="companies-sponsored-slider")
						svg.bi.rtl-mirror.w-auto.h-auto(width="82" height="16.538")
							use(href="#icon-arrow-left")
						span.visually-hidden next
// companies sponsored section ends
