// dashboard company edit section starts
section
	.container
		.row.gy-4.gy-md-0
			.col-12.col-md-5.col-xl-4
				include ./_dashboard-aside-nav.pug
			.col-12.col-md-7.offset-xl-1
				.row.gy-4
					.col-12.col-lg
						h1.text-capitalize.text-primary.mb-0
							strong.fw-bolder edit company
					.col-12
						p.text-bg-dark.p-2.mb-0 content
// dashboard company edit section ends
