// dashboard account edit section starts
section
	.container
		.row.gy-4.gy-md-0.gx-md-5.gx-xl-gutter
			.col-12.col-md-5.col-xl-4
				include ./_dashboard-aside-nav.pug
			.col-12.col-md-7.offset-xl-1
				.row.gy-4
					.col-12.col-lg
						h1.text-capitalize.text-primary.mb-0
							strong.fw-bolder My Account
					.col-12
						include ../forms/_account-info.pug
// dashboard account edit section ends
