// hero section starts
section.hero.text-white.section-with-bg
	.section-bg.text-bg-dark
		.section-bg-content
			img.section-bg-image.object-position-top.op-40(src="./assets/images/backgrounds/hero-compressed.webp", alt="", loading="lazy", width="1280", height="720")
	p hero section
// hero section ends
