include ../mixins/_home-companies.pug

// home companies requested section starts
+homeCompanies({title: "Featured Companies", description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.", ctaText: "All Featured Companies", list: locals.companies.slice(0, 2)})
// home companies requested section ends
