// typography
p
	strong Lorem ipsum
	|  dolor sit amet,
	a(href="#")  consetetur sadipscing elitr,
	abbr(title='HyperText Markup Language')  HTML
	|  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
p.lead Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
br
h1 h1 heading
h2 h2 heading
h3 h3 heading
h4 h4 heading
h5 h5 heading
h6 h6 heading
br
h1.display-1 h1 heading
h2.display-2 h2 heading
h3.display-3 h3 heading
h4.display-4 h4 heading
h5.display-5 h5 heading
h6.display-6 h6 heading
br
h4
	| Fancy display heading
	br
	small With smaller secondary text
br
p
	| You can use the mark tag to
	mark highlight
	|  text.
p
	del This line of text is meant to be treated as deleted text.
p
	s This line of text is meant to be treated as no longer accurate.
p
	ins This line of text is meant to be treated as an addition to the document.
p
	u This line of text will render as underlined.
p
	small This line of text is meant to be treated as fine print.
p
	strong This line rendered as bold text.
p
	em This line rendered as italicized text.
br
p
	strong normal list
ul
	li Lorem ipsum dolor sit amet.
	li dolor sit amet, consetetur
	li sadipscing elitr, sed diam nonumy
	li elitr, sed diam nonumy eirmod tempor invidunt
	li At vero eos et accusam et justo duo dolores et ea rebum.
	li sadipscing elitr
	li sadipscing
	li ipsum dolor sit amet, consetetur elitr
	li et accusam et justo duo dolores
	li
		| sed diam
		ul
			li Lorem ipsum dolor sit amet.
			li dolor sit amet, consetetur
			li sadipscing elitr, sed diam nonumy
			li elitr, sed diam nonumy eirmod tempor invidunt
			li At vero eos et accusam et justo duo dolores et ea rebum.
br
p
	strong normal list
ul.list-unstyled
	li Lorem ipsum dolor sit amet.
	li dolor sit amet, consetetur
	li sadipscing elitr, sed diam nonumy
	li elitr, sed diam nonumy eirmod tempor invidunt
	li At vero eos et accusam et justo duo dolores et ea rebum.
	li sadipscing elitr
	li sadipscing
	li ipsum dolor sit amet, consetetur elitr
	li et accusam et justo duo dolores
	li
		| sed diam
		ul
			li Lorem ipsum dolor sit amet.
			li dolor sit amet, consetetur
			li sadipscing elitr, sed diam nonumy
			li elitr, sed diam nonumy eirmod tempor invidunt
			li At vero eos et accusam et justo duo dolores et ea rebum.
br
.table-responsive
	table.table
		tbody
			tr
				th Entry Header 1
				th Entry Header 2
				th Entry Header 3
				th Entry Header 4
			tr
				td Entry First Line 1
				td Entry First Line 2
				td Entry First Line 3
				td Entry First Line 4
			tr
				td Entry Line 1
				td Entry Line 2
				td Entry Line 3
				td Entry Line 4
			tr
				td Entry Last Line 1
				td Entry Last Line 2
				td Entry Last Line 3
				td Entry Last Line 4
br
p Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
p Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
br
figure
	blockquote.blockquote
		p A well-known quote, contained in a blockquote element.
	figcaption.blockquote-footer
		| Someone famous in
		cite(title='Source Title')  Source Title
br
figure.text-center
	blockquote.blockquote
		p A well-known quote, contained in a blockquote element.
	figcaption.blockquote-footer
		| Someone famous in
		cite(title='Source Title')  Source Title
br
figure.text-end
	blockquote.blockquote
		p A well-known quote, contained in a blockquote element.
	figcaption.blockquote-footer
		| Someone famous in
		cite(title='Source Title')  Source Title

// typography end/.
