// vendor section starts
section.vendor.text-white.section-with-bg
	.section-bg.text-bg-dark.vh-100
		.section-bg-content
			img.section-bg-image.object-position-top.op-40(src="./assets/images/backgrounds/vendor-compressed.webp", alt="", loading="lazy", width="1280", height="720")
	.container
		.row.gy-4.justify-content-center
			.col-12.col-sm-10.col-md-8.col-lg-6.col-xl-4
				h1.display-6.text-capitalize.text-center.mb-0
					strong.fw-bolder become a vendor
				p.text-center.mb-0 Join the most comprehensive and updated knowledge base for the security industry
			.col-12.m-0
			.col-12.col-sm-11.col-md-10.col-lg-9.col-xl-8
				.card
					.card-header
						h2.h5.text-primary.text-center
							strong Fill the form and we will contact you soon
					.card-body.pt-0
						include ../forms/_vendor.pug
// vendor section ends
