// vendor home section starts
section
	.container.section-with-bg.text-bg-dark.rounded-4.overflow-hidden.py-5.py-md-6.py-xl-7.px-md-4.px-xl-6
		.section-bg.rounded-5
			.section-bg-content
				img.section-bg-image.object-position-top.op-50(src="./assets/images/backgrounds/vendor-home-compressed.webp", alt="", loading="lazy", width="1160", height="370")
		.row
			.col-12.col-md-6.col-xl-7
				h2.display-4.text-capitalize.mb-5
					strong.fw-bolder Are You A Reliable Security Company?
				a.btn.btn-primary.text-capitalize.rounded-pill.px-5.py-2(href="vendor.html")
					strong Join Us Now
// vendor home section ends
