.company-card {
	--#{$prefix}card-inner-border-radius: calc(var(--tcg-border-radius-xl) - #{map-get($spacers, gutter)});
	.card {
		&-img-top {
			mask: linear-gradient(to top, transparent 0, var(--#{$prefix}card-bg) calc(100% - 2.875rem)) !important;
			& + .card-body {
				margin-top: calc(-1 * 2.9375rem);
			}
		}
		&-sponsored-flag {
			border-top-left-radius: var(--#{$prefix}card-inner-border-radius);
			border-bottom-right-radius: var(--#{$prefix}card-inner-border-radius);
		}
	}

	.badge {
		--#{$prefix}bg-opacity: 0.1;
	}
}
