// app main header offcanvas starts
#app-header-offcanvas.offcanvas.offcanvas-end.text-bg-dark(tabindex="-1")
	.offcanvas-header
		.row.g-0.align-items-center.justify-content-between.flex-nowrap.w-100
			.col.col-xl-auto
				+app-logo({ name: locals.APP_NAME, href: "index.html",  logos: [{ src: "./assets/images/logo/logo-light.svg", width: "180", height: "67.33" }] })
			.col-auto
				.hstack.align-items-stretch
					.flex-shrink-0.align-self-center.me-2
						+app-social-nav({ type: "header" })
					.overflow-hidden.me-2(aria-hidden="true")
						.vr.h-100
					.flex-shrink-0.align-self-center
						button.btn.btn-link.icon-link.icon-link-hover.icon-link-hover-rotate.text-reset.text-primary-hover.text-primary-focus.text-decoration-none(type="button" data-bs-dismiss="offcanvas" aria-label="Close")
							svg.bi.w-2rem.h-2rem(width="32px" height="32px" fill="currentColor")
								use(href="#icon-close")
							span.visually-hidden close
	.offcanvas-body.py-4
		.vstack.gap-3.h-100
			+app-nav({ type: "offcanvas", list: locals.navList })
			hr.border.bg-transparent.m-0
			// login modal open button starts
			button.btn.btn-link.text-uppercase.text-reset.text-primary-hover.text-primary-focus.rounded-pill.text-decoration-none(data-bs-target="#login-modal" data-bs-toggle="modal" type="button")
				strong login
			// login modal open button ends
// app main header offcanvas ends
