include ./_app-nav-link.pug

mixin app-nav-list(data={list: []}, allowSkipToContent=false)
	ul.nav.mb-0(role="menubar")
		if (allowSkipToContent)
			li.nav-item.position-absolute.top-0.start-50.translate-middle-x
				a.nav-link.btn.btn-link.text-reset.visually-hidden-focusable.rounded-top-0(href="#main", role="menuitem")
					strong skip to content
		each navListItem, i in data.list
			- var isNavListItemActive = String(navListItem.title).toLowerCase().includes(String(page_title).toLowerCase());
			li.nav-item
				+app-nav-link({ isActive: isNavListItemActive, link: navListItem })
