include ./_app-logo.pug
include ./_app-social-nav.pug
include ./_app-nav.pug

mixin app-header(data={logo: { name: locals.APP_NAME, href: "index.html",  logos: [{ src: "", color: "", width: "", height: "" }] }})
	// app header section starts
	header.app-header
		// app header content starts
		.app-header-content
			.container
				.row.g-0.align-items-center.justify-content-between.flex-nowrap.w-100
					.col.col-xl-auto
						+app-logo(data.logo)
					.col-auto
						.hstack.align-items-stretch
							.flex-shrink-0.align-self-center.d-none.d-xl-inline-block.me-1.me-xl-3
								+app-nav({ type: "header", list: locals.navList }, true)
							.flex-shrink-0.align-self-center.me-1.me-xl-3
								+app-social-nav({ type: "header" })
							.overflow-hidden.me-1.me-xl-3(aria-hidden="true")
								.vr.h-100
							.flex-shrink-0.align-self-center
								// login modal open button starts
								button.d-none.d-xl-inline-block.btn.btn-link.text-uppercase.text-reset.text-primary-hover.text-primary-focus.rounded-pill.text-decoration-none(data-bs-target="#login-modal" data-bs-toggle="modal" aria-controls="" type="button")
									strong login
								// login modal open button ends

								// side menu open button starts
								button.app-nav-offcanvas-toggler.d-xl-none.btn.btn-link.text-reset.text-primary-hover.text-primary-focus.text-decoration-none(data-bs-target="#app-header-offcanvas" data-bs-toggle="offcanvas" aria-controls="app-header-offcanvas" type="button")
									svg(width="32" height="18" stroke="currentColor")
										use(href="#icon-menu")
									span.visually-hidden menu
								// side menu open button ends
		// app header content ends
		if (locals.IS_PRODUCTION && page_title === "Home")
			// app notifications starts
			.container.position-relative
				include ../sections/_app-toasts.pug
			// app notifications ends
	// app header section ends
