mixin inner-header(data={type: "", title: "", img: ""})
	// application inner pages header
	header(class=`inner-header${ data.type ? ` inner-header-${data.type}` : ""}`)
		p inner header section
	// application inner pages header end/.
