extends ./layouts/_index.pug
include ./mixins/_inner-header.pug

append variables
	- var page_title = "My Company";
	- var header_data = { bg_img: "./assets/images/backgrounds/dashboard-compressed.webp", breadcrumb: [{ title: "Home", href: "index.html" }, { title: "my dashboard", href: "dashboard-company.html" }] };

block styles

block content
	// application main content stars
	main#main.app-main
		+inner-header(header_data)
		section
			.container
				include ./sections/_typography.pug
	// application main content ends

block modals

block off-canvas

block scripts
