extends ./layouts/_index.pug

append variables
	- var page_title = "Home";

block styles

block content
	// application main content stars
	main#main.app-main
		include ./sections/_hero.pug
		include ./sections/_typography.pug
	// application main content ends

block modals

block off-canvas

block scripts
