// forgot password modal starts
#forgot-password-modal.modal.fade(tabindex="-1" aria-labelledby="forgot-password-modal-label" aria-hidden="true")
	.modal-dialog.modal-dialog-centered
		.modal-content
			.modal-header.flex-column.text-center
				.hstack.gap-3.justify-content-between
					button.btn.btn-link.text-uppercase.rounded-xl.p-2.icon-link.icon-link-hover.icon-link-hover-reversed.text-reset.text-primary-hover.text-primary-focus.text-decoration-none(type="button", data-bs-target="#login-modal", data-bs-toggle="modal")
						svg.bi.w-24px.h-24px(width="24px" height="24px" fill="currentColor")
							use(href="#icon-arrow-right")
						strong.fw-bolder back
					button.btn.btn-link.text-uppercase.rounded-xl.p-2.icon-link.icon-link-hover.icon-link-hover-rotate.text-reset.text-primary-hover.text-primary-focus.text-decoration-none(type="button" data-bs-dismiss="modal" aria-label="Close")
						svg.bi.w-24px.h-24px(width="24px" height="24px" fill="currentColor")
							use(href="#icon-close")
						span.visually-hidden close
				h5#forgot-password-modal-label.modal-title.h2.lh-1.text-capitalize
					strong.fw-bolder Forgot password?
			.modal-body
				include ../forms/_forgot-password.pug
// forgot password modal ends
