// login modal starts
#login-modal.modal.fade(tabindex="-1" aria-labelledby="login-modal-label" aria-hidden="true")
	.modal-dialog.modal-dialog-centered
		.modal-content
			.modal-header.flex-column.text-center
				button.btn.btn-link.rounded-xl.p-2.icon-link.icon-link-hover.icon-link-hover-rotate.text-reset.text-primary-hover.text-primary-focus.text-decoration-none.ms-auto(type="button" data-bs-dismiss="modal" aria-label="Close")
					svg.bi.w-24px.h-24px(width="24px" height="24px" fill="currentColor")
						use(href="#icon-close")
					span.visually-hidden close
				h5#login-modal-label.modal-title.h2.lh-1.text-capitalize
					strong.fw-bolder welcome back
				p.mb-0
					strong login to your account below
			.modal-body
				form#login-form(action="#")
					|...
			.modal-footer
				button.btn.btn-primary.btn-lg.rounded-pill.text-capitalize.w-100(type="submit" form="login-form")
					strong login
// login modal ends
