.app-header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: $zindex-fixed;
	@include transition($transition-base);

	&:not(.app-header-scrolling) {
		background: transparent;
		padding: 2.875rem 0;
		@extend .text-white !optional;
		.vr {
			@extend .bg-white !optional;
		}
	}

	&-scrolling {
		position: fixed !important;
		animation-duration: 0.5s;
		padding: 1rem 0;
		@extend .animated !optional;
		@extend .text-bg-white !optional;

		&-up,
		&:focus-within {
			@extend .shadow-lg !optional;
			@include animate-prefixer(animation-name, slideInDown);
		}

		&-down {
			@extend .shadow-none !optional;
			@include animate-prefixer(animation-name, slideOutUp);
		}

		.app-logo {
			@extend .w-75 !optional;
			img {
				filter: invert(1);
			}
		}

		.app-nav {
			.nav-link {
				&:hover,
				&:focus,
				&.active {
					color: var(--#{$prefix}white) !important;
				}
			}
		}

		.vr {
			@extend .bg-dark !optional;
		}
	}

	.btn-link {
		@extend .text-uppercase !optional;
	}
}
