.app-nav {
	&-link {
		--#{$prefix}nav-link-padding-y: 6px;
		--#{$prefix}nav-link-padding-x: 14px;
	}

	&:not(.app-nav-footer) {
		&-item {
			&:not(:last-child) {
				@include media-breakpoint-up(lg) {
					margin-right: 0.5rem;
				}
				@include media-breakpoint-up(xxl) {
					margin-right: 1.375rem;
				}
			}
		}
		.nav {
			&-link {
				&:hover,
				&:focus,
				&.active {
					background: var(--#{$prefix}primary);
				}
			}
		}
	}

	&-offcanvas {
		@extend .flex-grow-1 !optional;
		.nav {
			@extend .h-100 !optional;
			@extend .flex-column !optional;
			@extend .justify-content-between !optional;
			&-item {
				@extend .my-3 !optional;
			}
		}
	}

	&-footer {
		.nav-item {
			&:not(:last-child) {
				margin-right: 3rem;
			}
		}
		.nav-link {
			@extend .text-secondary !optional;
			@extend .text-dark-hover !optional;
			@extend .text-dark-focus !optional;
			@extend .px-0 !optional;

			&.active {
				@extend .text-dark !optional;
			}
		}
	}
}
