.companies-sponsored {
	background-color: rgba(var(--#{$prefix}dark-rgb), 0.1);
	.swiper {
		width: 100vw;
		margin: 0 calc((#{$grid-gutter-width} * 0.5) * -1);
		padding-right: 0;
		padding-left: 0;

		@each $breakpoint in map-keys($grid-breakpoints) {
			@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
				@if (map-get($container-max-widths, $breakpoint)) {
					margin: 0
						calc(
							(
									(
											100vw -
												(
													(
														#{map-get($container-max-widths, $breakpoint)} -
															#{$grid-gutter-width}
													)
												)
										) *
										0.5
								) *
								-1
						) !important;
					padding-right: calc(
						((100vw - ((#{map-get($container-max-widths, $breakpoint)} - #{$grid-gutter-width}))) * 0.5)
					) !important;
					padding-left: calc(
						((100vw - ((#{map-get($container-max-widths, $breakpoint)} - #{$grid-gutter-width}))) * 0.5)
					) !important;
				}
			}
		}
	}
}
