.error {
	padding-top: map-get($spacers, 6);
	padding-bottom: map-get($spacers, 6);
	min-height: 100%;

	@include media-breakpoint-up(md) {
		padding-top: map-get($spacers, 7);
		padding-bottom: map-get($spacers, 7);
	}

	@include media-breakpoint-up(xl) {
		padding-top: map-get($spacers, 8);
		padding-bottom: map-get($spacers, 8);
	}
}
